.listOrderGrid{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
}
.list-group-order{
    width: 80%;
}
.background-listOrder{
    background: #76b85274; 
}
.backgraund-newOrder{
    background: #76b85274;  
  
}
